// some comments, will be included in output
p foo
p bar
//- some secret comments, will NOT be included in output
p foo
p bar
// bock level comment
body
  //
    As much text as you want
    can go here.
// html conditional comments  will just work
<!--[if IE 8]>
<html lang="en" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
