//switch case with fall through(only for 4 and 5), default
- var friends = 10
case friends
  when 0
    p you have no friends
  when 1
    p you have a friend
  when 4
  when 5
  when 6
    p you have lots friends
  default
    p you have #{friends} friends

//explicit break to stop fall through
- var friends = 0
case friends
  when 0
    - break
  when 1
    p you have very few friends
  default
    p you have #{friends} friends

//block expansion
- var friends = 1
case friends
  when 0: p you have no friends
  when 1: p you have a friend
  default: p you have #{friends} friends
