// piped text with leading pipe |
| Plain text can include <strong>html</strong>
p
  | It must always be on its own line
// Inline text in tag
p Plain text can include <strong>html</strong>
// Block text in tag with trailing dot after tag name
script.
  if (usingPug)
    console.log('you are awesome')
  else
    console.log('use pug')
