/* wide screen */
@media (min-width: 768px) {
  .wrapper{
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 5px 10px;
  }
  header{
    height: 60px;
    border-bottom: 6px solid black;
  }
  #logo{
    height: 60px;
    line-height: 60px;
    padding: 0px 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    float: left;
  }
  #nav_menu{
    float: right;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0;
    padding: 0;
  }
  #nav_menu li{
    height: 60px;
    line-height: 60px;
    display: inline-block;
    list-style-type: none;
  }
  #nav_menu li:last-of-type{
    border-right: none;
    padding-right: 5px;
  }
  #nav_menu li a{
    display: block;
    font-family: sans-serif;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: bold;
  }
  #nav_menu li a:hover{
    background-color: #f1f2f3;
  }

  #q{
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    outline: none;
  }

  #nav_trigger{
    display: none;
  }

  #q_results{
    padding: 20px;
    z-index: 1000;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #ddd;
    display: none;
  }

  #q_results ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #q_results li{
    margin: 3px 0;
  }
  #q_results a{
    text-decoration: none;
  }
  #q_results a:hover{
    text-decoration: underline;
  }

  #disqus_thread{
    border-top: 5px solid black;
    padding: 6px;
  }

  .content_wrapper img.book-cover{
    width: 30%;
    float: left;
    padding: 0px 10px;
  }

  /*Book Shelf*/
  .wrapper .book-year-heading{
    padding: 0 5px;
  }
  .wrapper .book-tile{
    height: 200px;
    width: 150px;
    padding: 0;
    display: inline-block;
    position: relative;
  }
  .wrapper .book-tile .book-cover{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 100;
  }
  .wrapper .book-tile .book-cover img{
    width: 150px;
    max-height: 200px;
  }
  .wrapper .book-tile .book-hover{
    padding:2px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: white;
    overflow: hidden;
  }
  .wrapper .book-tile:hover .book-cover{
    z-index: 10;
  }
  .wrapper .book-tile:hover .book-hover{
    display: inline-block;
    z-index: 100;
  }
}
