{% extends "default.j2" %}

{% block title %}
<!-- Facebook OG Tags-->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ perm_link }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ summary }}">
<meta property="og:site_name" content="{{ site.user_options['name'] }}">
<meta property="og:locale" content="en_US">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@niminghao">
<meta name="twitter:creator" content="@niminghao">
<meta name="twitter:url" content="{{ perm_link }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ summary }}">

<title>Post: {{ title }}</title>
{% endblock %}

{% block content %}
  <div class="" id="entry_header">
    <span class="entry_title">{{ title }}</span>
    <div class="entry_info">
      {{ date.strftime('%b %d, %Y') }}
    </div>
    {% if summary %}
    <div class="entry_summary">
    {{ summary }}
    </div>
    {% endif %}
  </div>

  <div class="content_wrapper">
    {{ entry_content }}
    <br>
    <strong>Tags: </strong>
    {% for t in tags %}
      <a href="/tags#{{ t }}" class="entry_tag"> {{ t }} </a>
    {% endfor %}
  </div>
{% endblock %}

{% block prefooter %}
  {% block disqus %}
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = "{{ perm_link }}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ id | escape_quote }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//minghao.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endblock %}
{% endblock %}
