{% extends "default.j2" %}

{% block title %}
<!-- Facebook OG Tags-->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ perm_link }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ summary }}">
<meta property="og:site_name" content="{{ site.user_options['name'] }}">
<meta property="og:locale" content="en_US">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@niminghao">
<meta name="twitter:creator" content="@niminghao">
<meta name="twitter:url" content="{{ perm_link }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ summary }}">

<title>Post: {{ title }}</title>
{% endblock %}

{% block content %}
  <div class="" id="entry_header">
    <span class="entry_title">{{ title }}</span>
    <div class="entry_info">
      {{ date.strftime('%b %d, %Y') }}
    </div>
    {% if summary %}
    <div class="entry_summary">
    {{ summary }}
    </div>
    {% endif %}
  </div>

  <div class="content_wrapper">
    {{ entry_content }}
    <br>
    <strong>Tags: </strong>
    {% for t in tags %}
      <a href="/tags#{{ t }}" class="entry_tag"> {{ t }} </a>
    {% endfor %}
  </div>
{% endblock %}
