<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.user_options['name'] | xml_escape }}</title>
    <description>A Personal Website</description>
    <link>{{ site.user_options['base_url'] | xml_escape }}</link>
    <atom:link href="{{ site.user_options['base_url'] | xml_escape }}/feed.xml" rel="self" type="application/rss+xml"/>
    <pubDate>{{ site.time | date_to_rfc822 }}</pubDate>
    <lastBuildDate>{{ site.time | date_to_rfc822 }}</lastBuildDate>
    <generator>SiteKicker {{ sitekicker.version }}</generator>
    {% for entry in site.sorted_entries[:20] %}
    {% if entry.options['type'] not in ['project', 'page', 'reference', 'hidden'] %}
      <item>
        <title>{{ entry.user_options['title'] | xml_escape }}</title>
        <description></description>
        <pubDate>{{ entry.date | date_to_rfc822 }}</pubDate>
        <link>{{ entry.perm_link | xml_escape }}</link>
        <guid isPermaLink="true">{{ entry.perm_link | xml_escape }}</guid>
        {% for tag in entry.options['tags'] %}
        <category>{{ tag | xml_escape }}</category>
        {% endfor %}
      </item>
    {% endif %}
    {% endfor %}
  </channel>
</rss>
