name: build and deploy to github pages

on:
  push:
    branches:
      - source

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the site source
        uses: actions/checkout@v1

      - name: build the site
        run: echo "build done"
