name: build and deploy to github pages

on:
  push:
    branches:
      - source

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the site source
        uses: actions/checkout@v1

      - name: build the site
        # github actios will set the WORKDIR at runtime, no need to map the volumns manually
        uses: docker://nmhnmh/sitekicker:latest

      - name: deploy to github pages
        shell: bash
        run: |
          cd ~
          mkdir .ssh
          cat > ~/.ssh/id_rsa <<EOF
          ${{ secrets.ACTIONS_DEPLOY_KEY }}
          EOF
          chmod 400 ~/.ssh/id_rsa

      - name: git init
        shell: bash
        run: |
          cd "${GITHUB_WORKSPACE}/.build"
          git init

      - name: git commit
        shell: bash
        run: |
          cd "${GITHUB_WORKSPACE}/.build"
          git init
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m 'Deploy to GitHub Pages'

      - name: git push
        shell: bash
        run: |
          cd "${GITHUB_WORKSPACE}/.build"
          GIT_SSH_COMMAND="ssh -i ~/.ssh/id_rsa -F /dev/null" git push --force "git@github.com:${{ github.repository }}.git" master:master
          
